!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if IE 8] <html class="no-js lt-ie9" lang="en">
:plain
  <!--[if gt IE 8] -->
%html{:lang => "en"}
  /<![endif]
  %head
    %meta{:charset => "utf-8"}/
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= data.page.title || "Lateral Fitness - Chicago boutique fitness gym"
    %meta{:name => "description", :content => data.page.description || "Lateral Fitness is a boutique gym located in the River North neighborhood of Chicago Illinois featuring Muscle Activation Technique, Endurance Training, Group Classes and Personal Training"}
    / Included CSS Files
    = stylesheet_link_tag "app"
    = stylesheet_link_tag "fonts"
    = stylesheet_link_tag "font-awesome"
    = stylesheet_link_tag "colors"
    = stylesheet_link_tag "lateral"
    = javascript_include_tag "foundation/modernizr.foundation"

  %body{:class => page_classes}
    .show-for-small{:role => "complementary", :id => "sidebar"}
      %nav{:role => "navigation", :id => "sideMenu"}
        %ul{:class => "nav-bar", :id => "sideMainNav"}
          %li{nav_active("home")}
            = link_to 'Home', '/index.html'
          %li{nav_active("about")}
            = link_to 'About', '/about.html'
          %li{nav_active("services")}
            = link_to 'Services', '/services.html'
          %li{nav_active("classes")}
            = link_to 'Classes', '/classes.html'
          %li{nav_active("trainers")}
            = link_to 'Trainers', '/trainers.html'
          %li{nav_active("instructors")}
            = link_to 'Instructors', '/instructors.html'
          %li{nav_active("pricing")}
            = link_to 'Packages', '/pricing.html'
          / %li{nav_active("news")}
          /   = link_to 'News', '/news.html'
          %li{nav_active("contact")}
            = link_to 'Contact Us', '/contact.html'
          %li
            = link_to 'Schedule a Class', 'http://clients.mindbodyonline.com/ws.asp?studioid=33786&stype=41'
          %li
            = link_to 'Facebook Page', 'https://www.facebook.com/LATERALFITNESS'
    %section.main-content{:role => "main"}
      .row.header
        .mobile-one.columns.show-for-small
          %a{:href => "#sidebar", :class => "sidebar-button", :id => "sidebarButton"}
            %i.icon-reorder
        .eight.mobile-three.columns
          = link_to '/index.html' do
            = image_tag "/images/branding/logo.png", :alt => "Lateral Fitness Chicago"
        .four.columns.hide-for-small
          .row.header
            .eight.columns
              %ul.header-links
                %li
                  = link_to 'Home', '/index.html'
                %li
                  = link_to 'About', '/about.html'
                %li
                  = link_to 'Contact Us', '/contact.html'
            .four.columns.header_social.hide-for-small
              %ul.headline_socials.main_socials
                %li 
                  %a{:href => "https://www.facebook.com/LATERALFITNESS", :class => "facebook", :target => "_blank"}
                    %i.icon-facebook-sign
                / %li
                /   %a{:href => "#", :class => "twitter", :target => "_blank"}
                /     %i.icon-twitter-sign

      .row.navigation.hide-for-small
        .twelve.columns
          %nav.top-bar
            %ul
              %li.name
              %li.toggle-topbar
                %a(href="#")
            %section
              %ul.nav-links
                %li.has-dropdown{nav_active("services")}
                  = link_to 'Services', '/services.html'
                  %ul.dropdown.nav-dropdown
                    %li
                      = link_to 'Personal Training', '/services/personal-training.html'
                    %li
                      = link_to 'Muscle Activation Technique', '/services/muscle-activation-technique.html'
                    / %li
                    /   = link_to 'Massage and Soul Therapy', '/services/soul.html'
                    %li
                      = link_to 'Corporate Wellness Program', '/services/corporate.html'
                    %li
                      = link_to 'Lunchtime Membership', '/services/lunch.html'
                %li.has-dropdown{nav_active("classes")}
                  = link_to 'Classes', '/classes.html'
                  %ul.dropdown.nav-dropdown
                    %li
                      = link_to 'Running/Triathalon', '/classes/endurance-training.html'
                    %li
                      = link_to 'Yoga', '/classes/yoga.html'
                    %li
                      = link_to 'High Intensity', '/classes/high-intensity.html'
                    %li
                      = link_to 'Kettlebell', '/classes/kettlebell.html'
                    %li
                      = link_to '6 Week Challenge', '/classes/challenge.html'
                %li.has-dropdown{nav_active("trainers")}
                  = link_to 'Trainers', '/trainers.html'
                  %ul.dropdown.nav-dropdown
                    %li
                      = link_to 'Scott McWilliam', '/trainers/scott-mcwilliam.html'
                    %li
                      = link_to 'Erik Marthaler', '/trainers/erik-marthaler.html'
                    %li
                      = link_to 'Becky Williamson', '/trainers/becky-williamson.html'
                    %li
                      = link_to 'Adrienne Marie', '/trainers/adrienne-marie.html'
                    %li
                      = link_to 'Daniel Lona', '/trainers/daniel-lona.html'
                %li.has-dropdown{nav_active("instructors")}
                  = link_to 'Instructors', '/instructors.html'
                  %ul.dropdown.nav-dropdown
                    %li
                      = link_to 'Katarina Arneric', '/instructors/katarina-arneric.html'
                    %li
                      = link_to 'Jenny Finkel', '/instructors/jenny-finkel.html'
                    %li
                      = link_to 'Sarah Elizabeth Helt', '/instructors/sarah-elizabeth-helt.html'
                    %li
                      = link_to 'Adrienne Marie', '/trainers/adrienne-marie.html'
                %li{nav_active("pricing")}
                  = link_to 'Packages', '/pricing.html'
                / %li{nav_active("news")}
                /   = link_to 'News', '/news.html'
                
              %ul.right
                %li
                  = link_to "<i class='icon-calendar'></i>Schedule a Class", 'http://clients.mindbodyonline.com/ws.asp?studioid=33786&stype=41', :target => '_blank'
          
      = yield

      %footer.row
        .seven.columns
          %a{:href => "/"}
            = image_tag "/images/branding/logo.png", :alt => "Lateral Fitness Chicago", :width => "250", :height => "48", :class => 'hide-for-small'
        .five.columns.address
          314 West Superior LL-E 
          %i.icon-circle 
          Chicago, IL 60654
          %i.icon-circle
          312-291-9466
    
    = javascript_include_tag "app"
    = javascript_include_tag "main"
