---
title: Erik Marthaler - Lateral Fitness Chicago
page_id: trainers
---

.row
  .twelve.columns
    %h4 Erik Marthaler

.row.puff-bottom
  .three.columns
    = image_tag '/images/trainers/erik-marthaler-large.jpg', :class => "bio-image"

  .nine.columns
    %p Erik Marthaler, co-founder of Lateral Fitness, has over 14 years of experience in the fitness world. He has a Bachelors in Science degree with a focus of Kinesiology: Exercise Science and Fitness from Illinois State University. Erik has a USAT (USA Triathlon) Level 1, USAC Level 3 Certified Coach, USATF (USA Track and Field), ACE (American Council in Exercise), HKC Kettlebell, and a TRX certification. 

    %p As a highly experienced trainer and coach, Erik has worked extensively with a wide range of clients who seek out training for: post-surgery rehabilitation, pre and post natal, cardiac rehab, fitness show preparation, Multisport (sprint to Ironman) athletes, and most importantly, people who just want a healthy lifestyle. When it comes to training the body, Erik takes a Periodization style of training and systematic approach to individualize each client’s training program from beginner to Elite. He understands that each individual is different and needs specific attention to their goals, asymmetries, and neuromuscular issues. By individualizing each program, he is extremely successful helping his clients reach and exceed their physical goals.

    %p You can also find Erik teaching beginner to intense interval training classes, such as 'Recruit', 'QuickFit' or the 'Half and Full Marathon Training Program' or setting up Comptrainer&trade; cycling tests for his athletes. 

    %p As an elite athlete, Erik has qualified for the Team USA Triathlete and Duathlete team since 2009, has multiple podium wins as a multisport athlete, and is a 2013 Mid-East Regional Duathlete Champion.

    %hr

    %ul.block-grid.five-up
      %li
        = image_tag "/images/trainers/badge-track5.jpg", :class => "th"
      %li
        = image_tag "/images/trainers/badge-tri3.jpg", :class => "th"
      %li
        = image_tag "/images/trainers/badge-coach5.jpg", :class => "th"
      %li
        = image_tag "/images/trainers/badge-teamusa2.jpg", :class => "th"
      %li
        = image_tag "/images/trainers/badge-health2.jpg", :class => "th"

    %p Build a periodization training plan based on your needs and experiences with a certified coach

    .row
      .six.columns
        %p Email #{link_to "erik@trainlateral.com", "mailto:erik@trainlateral.com"} for more information.

        %p Think Lateral. Train Lateral.