---
title: Lateral Fitness Chicago
page_id: classes
---

.row.grid-layout
  .twelve.columns
    %ul.block-grid.three-up.mobile-one-up
      - data.lateral.classes.each do |s|
        %li
          .panel.class
            = link_to "classes/#{s.page}", :class => 'th' do
              = image_tag "/images/classes/#{s.thumb}", :class => 'hide-for-small'
            %h6.upper.subheader
              = s.name
            %p
              = s.blurb
            = link_to "classes/#{s.page}", :class => 'learn' do
              Learn More
              %i.icon-chevron-right.small
    