---
title: Lateral Fitness Chicago
page_id: home
---

.row.slider
  .eleven.columns.centered.slider-inner
    #featured.slider
      = image_tag "/images/slider/front-desk.jpg", :'data-caption' => "#captionOne"
      = image_tag "/images/slider/personal-training.jpg", :'data-caption' => "#captionTwo"
      = image_tag "/images/slider/high-intensity.jpg", :'data-caption' => "#captionThree"
      = image_tag "/images/slider/matlogo.jpg", :'data-caption' => "#captionFour"
      = image_tag "/images/slider/yoga2.jpg", :'data-caption' => "#captionFive"
      = image_tag "/images/slider/kettlebell.jpg", :'data-caption' => "#captionSix"
      = image_tag "/images/slider/menscover.jpg", :'data-caption' => "#captionSeven"
    %span.orbit-caption#captionOne
      %h4.hide-for-small Think Lateral. Train Lateral.
      %p.hide-for-small We are committed to providing a knowledgeable, detailed environment, where you will be able to achieve fitness goals in a safe, progressive manner. #{link_to "Read more &raquo;", "/about/"}
      %h4.show-for-small #{link_to "Think Lateral. Train Lateral. &raquo;", "/about/", :class => "link-for-small"}
    %span.orbit-caption#captionTwo
      %h4.hide-for-small Personal Training
      %p.hide-for-small One on one training from nationally accredited certified trainers. #{link_to "Read more &raquo;", "/services/personal-training/"}
      %h4.show-for-small #{link_to "Personal Training &raquo;", "/services/personal-training/", :class => "link-for-small"}
    %span.orbit-caption#captionThree
      %h4.hide-for-small Running/Triathlon
      %p.hide-for-small Run run run run run. #{link_to "Read more &raquo;", "/services/endurance-training"}
      %h4.show-for-small #{link_to "Running/Triathlon &raquo;", "/services/endurance-training", :class => "link-for-small"}
    %span.orbit-caption#captionFour
      %h4.hide-for-small Muscle Activation Technique
      %p.hide-for-small A muscle contraction evaluation process that complements exercise and injury rehab. #{link_to "Read more &raquo;", "/services/muscle-activation-technique/"}
      %h4.show-for-small #{link_to "Muscle Activation Technique &raquo;", "/services/muscle-activation-technique/", :class => "link-for-small"}
    %span.orbit-caption#captionFive
      %h4.hide-for-small Yoga
      %p.hide-for-small yoga yoga yoga yoga yoga. #{link_to "Read more &raquo;", "/services/yoga/"}
      %h4.show-for-small #{link_to "Yoga Classes &raquo;", "/services/yoga/", :class => "link-for-small"}
    %span.orbit-caption#captionSix
      %h4.hide-for-small Kettlebell
      %p.hide-for-small Kettlebell is a complete system of fitness that melts fat and tones muscle. #{link_to "Read more &raquo;", "/services/kettlebell/"}
      %h4.show-for-small #{link_to "Kettlebell Classes &raquo;", "/services/kettlebell", :class => "link-for-small"}
    %span.orbit-caption#captionSeven
      %h4.hide-for-small News
      %p.hide-for-small Check out what's happening at Lateral Fitness. #{link_to "Read more &raquo;", "/news/"}
      %h4.show-for-small #{link_to "News &raquo;", "/news/", :class => "link-for-small"}

.row.promos
  .four.columns
    .panel
      %h4 Our Mission
      %p Understanding that sustaining a healthy lifestyle is a process, we are committed to providing a knowledgeable, detailed environment, where our clients will be able to achieve their fitness outcomes in a safe, progressive manner.
  .four.columns
    .panel
      %h4 Our Exclusiveness
      %p Lateral has a very exclusive environment. Lateral Fitness offers intimate group classes, a specifically selected group of trainers and instructors, very engaging staff to help clients with any needs, and no hassle of memberships.
  .four.columns
    .panel
      %h4 Our Amenities
      %p Lateral Fitness is a full amenity training boutique studio. Lateral Fitness offers: private showers and changing rooms, fully stocked bathroom, high end products, towel service, filtered water, self serve tea, and comfortable waiting room.
