---
title: Lateral Fitness Chicago
page_id: home
---

.row.slider
  .nine.columns.centered.slider-inner
    #featured.slider
      = image_tag "/images/slider/bottle.jpg", :'data-caption' => "#captionOne"
      = image_tag "/images/slider/table.jpg", :'data-caption' => "#captionTwo"
      = image_tag "/images/slider/groupX.jpg", :'data-caption' => "#captionThree"
      = image_tag "/images/slider/equipment.jpg", :'data-caption' => "#captionFour"
    %span.orbit-caption#captionOne
      %h4 Think Lateral. Train Lateral.
      %p We are committed to providing a knowledgeable, detailed environment, where you will be able to achieve fitness goals in a safe, progressive manner. #{link_to "Read more &raquo;", "/about.html"}
    %span.orbit-caption#captionTwo
      %h4 Muscle Activation Technique
      %p A range of motion assessment, non-invasive, manual manipulation to correct asymmetrical limitations. #{link_to "Read more &raquo;", "/services/muscle-activation-technique.html"}
    %span.orbit-caption#captionThree
      %h4 Group Classes
      %p Designed to fit everyone's needs and goals by top professionals. #{link_to "Read more &raquo;", "/services/group-classes.html"}
    %span.orbit-caption#captionFour
      %h4 Personal Training
      %p One on one training from nationally accredited certified trainers. #{link_to "Read more &raquo;", "/services/personal-training.html"}

.row.promos
  .four.columns
    .panel
      %h4 Our Mission
      %p Understanding that sustaining a healthy lifestyle is a process, we are committed to providing a knowledgeable, detailed environment, where our clients will be able to achieve their fitness outcomes in a safe, progressive manner.
  .four.columns
    .panel
      %h4 Our Exclusiveness
      %p Lateral has a very exclusive environment. Lateral Fitness offers intimate group classes, a specifically selected group of trainers and instructors, very engaging staff to help clients with any needs, and no hassle of memberships.
  .four.columns
    .panel
      %h4 Our Amenities
      %p Lateral Fitness is a full amenity training boutique studio. Lateral Fitness offers: private showers and changing rooms, fully stocked bathroom, high end products, towel service, filtered water, self serve tea, and comfortable waiting room.
