---
title: Lateral Fitness Chicago
page_id: home
---

.row.slider
  .large-11.columns.large-centered.slider-inner
    .slideshow-wrapper
      .preloader
      %ul{:data => {:orbit => ''}}
        %li
          = image_tag "/images/slider/front-desk.jpg"
          .orbit-caption
            %h4.hide-for-small Think Lateral. Train Lateral.
            %p.hide-for-small We are committed to providing a knowledgeable, detailed environment, where you will be able to achieve fitness goals in a safe, progressive manner. #{link_to "Read more &raquo;", "about.html"}
            %h4.show-for-small #{link_to "Think Lateral. Train Lateral. &raquo;", "about.html", :class => "link-for-small"}
        %li
          = image_tag "/images/slider/personal-training.jpg"
          .orbit-caption
            %h4.hide-for-small Personal Training
            %p.hide-for-small One on one training from nationally accredited certified trainers. #{link_to "Read more &raquo;", "/services/personal-training.html"}
            %h4.show-for-small #{link_to "Personal Training &raquo;", "/services/personal-training.html", :class => "link-for-small"}
        %li
          = image_tag "/images/slider/running.jpg"
          .orbit-caption
            %h4.hide-for-small Running / Triathlon
            %p.hide-for-small Whether it’s your first time running a half marathon or competing as an elite triathlete... #{link_to "Read more &raquo;", "/classes/endurance-training.html"}
            %h4.show-for-small #{link_to "Running/Triathlon &raquo;", "/classes/endurance-training.html", :class => "link-for-small"}
        %li
          = image_tag "/images/slider/matlogo.jpg"
          .orbit-caption
            %h4.hide-for-small Muscle Activation Technique
            %p.hide-for-small A muscle contraction evaluation process that complements exercise and injury rehab. #{link_to "Read more &raquo;", "/services/muscle-activation-technique.html"}
            %h4.show-for-small #{link_to "Muscle Activation Technique &raquo;", "/services/muscle-activation-technique.html", :class => "link-for-small"}
        %li
          = image_tag "/images/slider/yoga2.jpg"
          .orbit-caption
            %h4.hide-for-small Yoga
            %p.hide-for-small At Lateral Fitness, we offer a variety of yoga styles, all led by our expert team of instructors. #{link_to "Read more &raquo;", "/classes/yoga.html"}
            %h4.show-for-small #{link_to "Yoga Classes &raquo;", "/classes/yoga.html", :class => "link-for-small"}
        %li
          = image_tag "/images/slider/kettlebell.jpg"
          .orbit-caption
            %h4.hide-for-small Kettlebell
            %p.hide-for-small Kettlebell is a complete system of fitness that melts fat and tones muscle. #{link_to "Read more &raquo;", "/classes/kettlebell.html"}
            %h4.show-for-small #{link_to "Kettlebell Classes &raquo;", "/classes/kettlebell.html", :class => "link-for-small"}

.row.promos
  .large-4.columns
    .panel
      %h4 Our Mission
      %p Understanding that sustaining a healthy lifestyle is a process, we are committed to providing a knowledgeable, detailed environment, where our clients will be able to achieve their fitness outcomes in a safe, progressive manner. #{link_to "Test API", "javascript:void(0);", :id => "testAPIButton"}
  .large-4.columns
    .panel
      %h4 Our Exclusiveness
      %p Lateral has a very exclusive environment. Lateral Fitness offers intimate group classes, a specifically selected group of trainers and instructors, very engaging staff to help clients with any needs, and no hassle of memberships.
  .large-4.columns
    .panel
      %h4 Our Amenities
      %p Lateral Fitness is a full amenity training boutique studio. Lateral Fitness offers: private showers and changing rooms, fully stocked bathroom, high end products, towel service, filtered water, self serve tea, and comfortable waiting room.
