---
title: Lateral Fitness Chicago
page_id: instructors
---
  
.row.team
  .four.columns.member
    .panel.instructor-panel
      %a{:href => "/instructors/scott-mcwilliam"}
        = image_tag "/images/trainers/scott-mcwilliam.jpg", :class => "th"
      .member_name
        %a{:href => "/instructors/scott-mcwilliam"}
          %h5 Scott McWilliam
        .op Co-Founder, RTSm & MAT Specialist
      .member_desc
        .exc Scott, co-founder of Lateral Fitness, has been training since 2004. Scott has a firm belief that education is key to the foundation of a trainer...#{link_to 'more', '/instructors/scott-mcwilliam'}
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
  .four.columns.member
    .panel.instructor-panel
      %a{:href => "/instructors/erik-marthaler"}
        = image_tag "/images/trainers/erik.jpg", :class => "th"
      .member_name
        %a{:href => "/instructors/erik-marthaler"}
          %h5 Erik Marthaler
        .op Co-Founder, Endurance & Weight Loss Specialist
      .member_desc
        .exc Erik Marthaler, co-founder of Lateral Fitness, has over 12 years of experience in the fitness world...#{link_to 'more', '/instructors/erik-marthaler'}
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
  .four.columns.member
    .panel.instructor-panel
      %a{:href => "/instructors/charlie-cates"}
        = image_tag "/images/trainers/charlie.jpg", :class => "th"
      .member_name
        %a{:href => "/instructors/charlie-cates"}
          %h5 Charlie Cates
        .op MAT and Strength & Conditioning Specialist
      .member_desc
        .exc Char­lie Cates is a Mus­cle Acti­va­tion Tech­nique&trade; Spe­cial­ist and a Cer­ti­fied Strength...#{link_to 'more', '/instructors/charlie-cates'}
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
  .four.columns.member
    .panel.instructor-panel
      %a{:href => "/instructors/becky-williamson"}
        = image_tag "/images/trainers/becky.jpg", :class => "th"
      .member_name
        %a{:href => "/instructors/becky-williamson"}
          %h5 Becky Williamson
        .op Personal Trainer and Nutritionist
      .member_desc
        .exc Becky C. Williamson is a Certified Personal Trainer with the American College of Sports Medicine...#{link_to 'more', '/instructors/becky-williamson'}
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
  .four.columns.member
    .panel.instructor-panel
      %a{:href => "/instructors/adrienne-marie"}
        = image_tag "/images/trainers/adrienne-marie.jpg", :class => "th"
      .member_name
        %a{:href => "/instructors/adrienne-marie"}
          %h5 Adrienne Marie
        .op Personal Trainer
      .member_desc
        .exc Adrienne is no stranger to the health and fitness world. Since 1995, she’s been personal training...#{link_to 'more', '/instructors/adrienne-marie'}
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
  .four.columns.member
    .panel.instructor-panel
      %a{:href => "/instructors/daniel-lona"}
        = image_tag "/images/trainers/daniel-lona.jpg", :class => "th"
      .member_name
        %a{:href => "/instructors/daniel-lona"}
          %h5 Daniel Lona
        .op HKC Kettlebell Instructor and NASM Nutrition Specialist
      .member_desc
        .exc Daniel helps women achieve their leanest, firmest, and best bodies through strength training...#{link_to 'more', '/instructors/daniel-lona'}
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
  .four.columns.member
    .panel.instructor-panel
      %a{:href => "/instructors/rebecca-niziol"}
        = image_tag "/images/trainers/rebecca-headshot.jpg", :class => "th"
      .member_name
        %a{:href => "/instructors/rebecca-niziol"}
          %h5 Rebecca Niziol
        .op Yoga Instructor/Life Coach
      .member_desc
        .exc Houston, Texas native, Rebecca has been a yogi for six years...#{link_to 'more', '/instructors/rebecca-niziol'}
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
  .four.columns.member
    .panel.instructor-panel
      %a{:href => "/instructors/katarina-arneric"}
        = image_tag "/images/trainers/katarina.jpg", :class => "th"
      .member_name
        %a{:href => "/instructors/katarina-arneric"}
          %h5 Katarina Arneric
        .op Yoga Instructor
      .member_desc
        .exc Katarina Arneric is a yoga instructor, health coach, dance teacher, food blogger, photographer...#{link_to 'more', '/instructors/katarina-arneric'}
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
  .four.columns.member
    .panel.instructor-panel
      %a{:href => "/instructors/jenny-finkel"}
        = image_tag "/images/trainers/jenny.jpg", :class => "th"
      .member_name
        %a{:href => "/instructors/jenny-finkel"}
          %h5 Jenny Finkel
        .op Yoga Instructor
      .member_desc
        .exc Jenny Finkel began doing yoga as a scoliotic, asthmatic 12-year-old after reading an article...#{link_to 'more', '/instructors/jenny-finkel'}
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
  .four.columns.member
    .panel.instructor-panel
      %a{:href => "/instructors/sarah-elizabeth-helt"}
        = image_tag "/images/trainers/sarah-helt.jpg", :class => "th"
      .member_name
        %a{:href => "/instructors/sarah-elizabeth-helt"}
          %h5 Sarah Elizabeth Helt
        .op Yoga Instructor
      .member_desc
        .exc Sarah Elizabeth Helt is delighted to be working with the talented and knowledgable team at Lateral...#{link_to 'more', '/instructors/sarah-elizabeth-helt'}
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
  .four.columns.member
    .panel.instructor-panel
      %a{:href => "/instructors/rachel-jannsen"}
        = image_tag "/images/trainers/rachel-jannsen.jpg", :class => "th"
      .member_name
        %a{:href => "/instructors/rachel-jannsen"}
          %h5 Rachel Jannsen
        .op Yoga Instructor
      .member_desc
        .exc A ballet dancer for 15 years, Rachel has long admired the artistry of movement...#{link_to 'more', '/instructors/rachel-jannsen'}
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
