---
title: Lateral Fitness Chicago
page_id: news
---

.row
  .nine.columns
    %h4 Events
    %p Let's put events here
    
    %hr.colored

    %h4 Press
    %p Let's put press here
  .three.columns.photos
    %h6 Check our some shots
    %ul{:class => "block-grid three-up mobile-two-up", :data => {:clearing => ""}}
      - data.lateral.photos.each do |t|
        %li
          = link_to "/images/gallery/#{t.filename}" do
            = image_tag "/images/gallery/#{t.filename}", :data => {:caption => "#{t.caption}"}