---
title: Lateral Fitness Chicago
page_id: news
---

.row
  .nine.columns
    %h4 Events
    %p Let's put events here
    
    %hr.colored

    %h4 Press
    %p Let's put press here
  .three.columns.photos
    %h6 Check our some shots
    %ul{:class => "block-grid three-up mobile-two-up", :data => {:clearing => ""}}
      %li
        = link_to "/images/gallery/front-desk.jpg" do
          = image_tag "/images/gallery/front-desk.jpg", :data => {:caption => "Front desk"}
      %li
        = link_to "/images/gallery/kettlebells.jpg" do
          = image_tag "/images/gallery/kettlebells.jpg", :data => {:caption => "Kettlebells"}
      %li
        = link_to "/images/gallery/floor.jpg" do
          = image_tag "/images/gallery/floor.jpg", :data => {:caption => "Floor"}
      %li
        = link_to "/images/gallery/weights.jpg" do
          = image_tag "/images/gallery/weights.jpg", :data => {:caption => "Weights"}
      %li
        = link_to "/images/gallery/floor2.jpg" do
          = image_tag "/images/gallery/floor2.jpg", :data => {:caption => "Floor"}
      %li
        = link_to "/images/gallery/kettlebells2.jpg" do
          = image_tag "/images/gallery/kettlebells2.jpg", :data => {:caption => "Kettlebells"}
      %li
        = link_to "/images/gallery/weights2.jpg" do
          = image_tag "/images/gallery/weights2.jpg", :data => {:caption => "Weights"}
      %li
        = link_to "/images/gallery/floor3.jpg" do
          = image_tag "/images/gallery/floor3.jpg", :data => {:caption => "Floor"}