---
title: Lateral Fitness Chicago
page_id: news
---

.row
  .twelve.columns
    %p
    %dl.tabs
      %dd.active
        = link_to "Press", "#press"
      / %dd
      /   = link_to "Upcoming Events", "#events"
      %dd
        = link_to "Past Events", "#past"
      %dd
        = link_to "Gallery", "#gallery"

    %ul.tabs-content
      %li#pressTab.active
        %ul.block-grid.three-up.mobile-one-up
          - data.lateral.press.each do |p|
            %li.member
              .panel.constant
                %h5.name= p.name
                %p.subheader.date= p.date
                = link_to "#{p.link}", :target => "_blank" do
                  = image_tag "/images/events/#{p.image}", :class => "th"
                %p.body.ellipsis= p.body
                = link_to "#{p.link}", :target => "_blank" do
                  Read more
                  %i.fa.fa-chevron-right.small

      / %li#eventsTab
      /   %ul.block-grid.three-up.mobile-one-up
      /     - data.lateral.events.each do |e|
      /       %li.member
      /         .panel.constant
      /           %h5.name= e.name
      /           %p.subheader.date= e.date
      /           = link_to "#{e.link}", :target => "_blank" do
      /             = image_tag "/images/events/#{e.image}", :class => "th"
      /           %p.body.ellipsis= e.body
      /           = link_to "#{e.link}", :target => "_blank" do
      /             Read more
      /             %i.fa.fa-chevron-right.small

      %li#pastTab
        %ul.block-grid.three-up.mobile-one-up
          - data.lateral.pastevents.each do |e|
            %li.member
              .panel.constant
                %h5.name= e.name
                %p.subheader.date= e.date
                = link_to "#{e.link}", :target => "_blank" do
                  = image_tag "/images/events/#{e.image}", :class => "th"
                %p.body.ellipsis= e.body
                = link_to "#{e.link}", :target => "_blank" do
                  Read more
                  %i.fa.fa-chevron-right.small

      %li#galleryTab
        %ul{:class => "block-grid three-up mobile-two-up", :data => {:clearing => ""}}
          - data.lateral.photos.each do |t|
            %li
              = link_to "/images/gallery/#{t.filename}" do
                = image_tag "/images/gallery/#{t.filename}"

