---
title: Lateral Fitness Chicago
page_id: news
---

.row
  .nine.columns
    %h4 Events
    - data.lateral.events.each do |e|
      .row.event
        .two.columns
          = image_tag "/images/events/#{e.image}", :class => "th"
        .ten.columns
          %h5.subheader.name= e.name
          %p.body= e.body
          = link_to "#{e.link}" do
            Check it out
            %i.icon-chevron-right.small
      %hr.dark
    %hr.colored

    %h4 Press
    - data.lateral.press.each do |p|
      .row.event
        .two.columns
          = image_tag "/images/events/#{p.image}", :class => "th"
        .ten.columns
          %h5.subheader.name= p.name
          %p.body= p.body
          = link_to "#{p.link}" do
            Check it out
            %i.icon-chevron-right.small
      %hr.dark
  .three.columns.photos
    %h6 Check our some shots
    %ul{:class => "block-grid three-up mobile-two-up", :data => {:clearing => ""}}
      - data.lateral.photos.each do |t|
        %li
          = link_to "/images/gallery/#{t.filename}" do
            = image_tag "/images/gallery/#{t.filename}"
            / = image_tag "/images/gallery/#{t.filename}", :data => {:caption => "#{t.caption}"}
