---
title: Lateral Fitness Chicago
page_id: services
---

.row
  .twelve.columns
    .row.services-row
      .three.columns.right
        = link_to '/services/muscle-activation-technique.html', :class => 'th' do
          = image_tag '/images/services/mat.jpg', :class => 'hide-for-small'
      .nine.columns
        %h4 Muscle Activation Technique
        %p
          Bio-mechanical noninvasive manual manipulation to correct asymmetrical limitations. 
          = link_to '/services/muscle-activation-technique.html' do
            Learn More
            %i.icon-chevron-right
    .row.services-row
      .three.columns
        = link_to '/services/endurance-training.html', :class => 'th' do
          = image_tag '/images/services/endurance.jpg', :class => 'hide-for-small'
      .nine.columns
        %h4 Endurance Training
        %p
          Periodization training to prepare you for marathons and triathlons.
          = link_to '/services/endurance-training.html' do
            Learn More
            %i.icon-chevron-right
    .row.services-row
      .three.columns.right
        = link_to '/services/group-classes.html', :class => 'th' do
          = image_tag '/images/services/group.jpg', :class => 'hide-for-small'
      .nine.columns
        %h4 Group Classes
        %p
          Classes to fit everyone's needs and goals by top professionals in the Chicago land area.
          = link_to '/services/group-classes.html' do
            Learn More
            %i.icon-chevron-right
    .row.services-row
      .three.columns
        = link_to '/services/personal-training.html', :class => 'th' do
          = image_tag '/images/services/training.jpg', :class => 'hide-for-small'
      .nine.columns
        %h4 Personal Training
        %p
          One on one training from nationally accredited certified trainers.
          = link_to '/services/personal-training.html' do
            Learn More
            %i.icon-chevron-right