---
title: Lateral Fitness Chicago
page_id: services
---

.row
  .twelve.columns
    - data.lateral.services.each do |s|
      .row.services-row
        .three.columns
          = link_to "/services/#{s.page}", :class => 'th' do
            = image_tag "/images/services/#{s.thumb}", :class => 'hide-for-small'
        .nine.columns
          %h4= s.name
          %p
            = s.blurb
            = link_to "/services/#{s.page}.html" do
              Learn More
              %i.icon-chevron-right
    