---
title: Lateral Fitness Chicago
page_id: services
---

.row.grid-layout
  .large-12.columns
    %ul.large-block-grid-4.small-block-grid-1
      - data.lateral.services.each do |s|
        %li
          .panel.service
            = link_to "services/#{s.page}", :class => 'th' do
              = image_tag "/images/services/#{s.thumb}", :class => 'hide-for-small'
            %h6.upper.subheader
              = s.name
            %p
              = s.blurb
            = link_to "services/#{s.page}", :class => 'learn' do
              Learn More
              %i.icon-chevron-right.small
    