---
title: Lateral Fitness Chicago
page_id: trainers
---
  
.row.team
  - data.people.trainers.each do |t|
    .four.columns.member
      .panel.instructor-panel
        = link_to "/trainers/#{t.page}" do
          = image_tag "/images/trainers/#{t.thumb}", :class => "th"
        .member_name
          = link_to "/trainers/#{t.page}" do
            %h5= t.name
          .op= t.title
        .member_desc
          .exc #{t.blurb}...#{link_to 'more', "/trainers/#{t.page}"}
          .smallproflinks
            %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
            %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
