---
title: High Intensity Classes - Lateral Fitness Chicago
page_id: classes
---

.row
  .twelve.columns
    %h4.page-title High Intensity Classes

.row.puff-bottom
  .four.columns.hide-for-small
    = image_tag '/images/classes/high_intensity_thumb.jpg', :class => "class-image"
    = image_tag '/images/classes/ghazy.jpg', :class => "class-image"
    .panel.radiusclass
      %h5.alt Referral Program
      %p Refer 3 friends who purchase any training or group class package and choose a complimentary group class of your choice. ($25 value)

  .eight.columns.classes
    %ul.accordion
      - data.classes.high.each do |h|
        %li
          .title 
            = h.title 
            %span.level
              = h.level
          .content 
            = h.content

.row
  .twelve.columns
    %p.large.centered Please keep checking back! Classes are added monthly!
    
    %hr.colored.eight.columns.centered.puff-bottom

    %span.note Class Policy
    %p.small Please show up 15 minutes before the start of the class for equipment set up. Since Lateral Fitness wants to keep each class moving smoothly you are not allowed to show up after the start of the class. Please notify Lateral Fitness if you are running late. We will release your reservation if you are not present at the start of class.

    %span.note Cancellations
    %p.small Do to our limit class sizes (15-20) Yoga (15-20) Pilates (8-10) Bootcamps, it is imperative for you to cancel your scheduled appointment within 12 hours of class time. If you fail to cancel within the allotted time you will be charged for the single price of the class or if you have purchased a package you will forfeit a session.